.indicators-container {
  display: flex; 
  justify-content: space-between; 
  width: 100%;
}

strength-indicator {
  flex-grow: 1;
  margin: 2px 5px; 
}

strength-indicator:first-child {
  margin-left: 0px; 
}

strength-indicator:last-child {
  margin-right: 0px; 
} 